apscheduler==3.3.1
arrow==0.10.0
argparse_actions==0.4.4
attrs==16.3.0
blinker==1.4
blist==1.3.6
chardet==3.0.3
demjson==2.2.4
dicttoxml==1.7.4
elasticsearch==5.5.1
eliot==0.11.0
eliot-tree==15.3.0
flake8==3.2.1
flasgger==0.5.14
Flask==0.12.2
flask-peewee==0.6.7
Flask-RESTful==0.3.5
futures==3.0.5
gevent==1.2.2
grequests==0.3.0
graphviz==0.7.1
gunicorn==19.6.0
hiredis==0.2.0
huey==1.2.2
hypothesis==3.6.0
jinja2==2.9.5
jira==1.0.10
markdown==2.6.6
oss2==2.2.3
pandas==0.21.0
py-dag==2.5.0
peewee==2.8.5
plumbum==1.6.2
psutil==5.0.1
pycrypto==2.6.1
pyfunctional==1.0.0
pygments==2.1.3
pymysql==0.7.9
python-dateutil==2.6.0
python-gitlab==0.17
python-jenkins==0.4.13
pathlib==1.0.1
PyYAML==3.12
redis==2.10.5
requests==2.17.3
retrying==1.3.3
rx==1.5.7
six==1.10.0
SQLAlchemy==1.1.4
threadpool==1.3.2
toolz==0.8.2
pytest==3.2.0
pytest_allure_adaptor==1.7.8
wrapcache==1.0.8
wrapt==1.10.8
xmltodict==0.10.2
paver==1.2.4
backports.functools_partialmethod==3.5.1.0
metayaml==0.17
beautifulsoup4==4.5.3
PyStaticConfiguration==0.10.3
httpretty==0.8.14
fabric==1.14.0
fabtools==0.20.0
voluptuous==0.10.5
cuisine==0.7.13
selenium==3.5.0
pytractor==0.2.1
Pillow==4.2.1
pytesseract==0.1.7
pluggy==0.4.0
jmespath==0.9.2
jsonpath-rw-ext==1.1.2
testinfra==1.9.0
logzero==1.3.1
psycopg2==2.7.3
tablib==0.11.2
jsonobject==0.7.1
xlrd==1.0.0
parsel==1.2.0
matplotlib==2.1.0
